.title{
font-weight: 600;
font-size: 35px;
line-height: 100%;
text-transform: uppercase;
}

.scooterTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 50px;
}

.buttons{
  display: flex;
  gap: 20px;
}