.content{
  background: #F4F7FB;
  text-align: center;
  border-radius: 12px;
  padding: 50px 0;
}

.title{
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 15px;
}

.subtitle{
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0 20px;
}