.root{
  background-color: #F4F7FB;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
  border-radius: 7px;
  max-width: 850px;
}

.flex{
  display: flex;
  width: 400px;
  justify-content: space-between;
}