.root{
  margin-top: 50px;
}
.firstBlock{
  background: hsl(238, 79%, 68%);
  padding: 25px 0;
}

.first{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title{
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  color: white;
}

.input{
  background: #FFFFFF33;
  border: none;
  padding: 20px;
  width: 410px;
  border-radius: 7px;
  color: white;
  font-size: 16px;  
}

.input::placeholder{
  color: white;
  font-size: 16px;
}

.btn{
  background: white;
  border: none;
  padding: 20px 40px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  color: hsl(238, 79%, 68%);
  margin-left: 20px;
  transition: all 0.3s ease;
}

.btn:hover{
  background: #FFFFFF33;
  color: white;
  border: 1px solid white;
  border: none;
}

.footerMiddle {
  display: flex;
  gap: 245px;
  background: rgb(244, 247, 251);
  padding: 25px;
  border-bottom: 1px solid #dedbdb;
  justify-content: center;

  &__left {
    display: flex;
    gap: 100px;
  }

  &__firstTitle {
    color: rgb(40, 39, 57);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }

  &__firstLink {
    color: rgb(93, 108, 123);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
  }

  &__secondFirst {
    display: flex;
    align-items: center;
    gap: 240px;
    margin-bottom: 22px;
  }

  &__secondSecondBlock {
    display: flex;
    gap: 70px;
    align-items: center;
  }

  &__secondCall {
    color: rgb(40, 39, 57);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }

  &__secondSecondSubtitle {
    color: rgb(40, 39, 57);
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
  }

  &__secondCallCenter {
    color: rgb(93, 108, 123);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }

  &__secondTitle {
    color: rgb(40, 39, 57);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }

  &__secondSubtitle {
    color: rgb(111, 115, 238);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }

  &__thirdBlock {
    display: flex;
    margin-top: 22px;
    gap: 22px;
  }

  &__thirdBlockTitle {
    color: rgb(40, 39, 57);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__thirdBlockSubtitle {
    color: rgb(93, 108, 123);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }
}
